.abertura {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5em;
    margin: 7em auto;
    width: 60vw;
    font-weight: 600;
}

.abertura__sobre {
    color: var(--vermelho);
}

.abertura__titulo {
    font-size: 48px;
}

.abertura__texto {
    font-size: 20px;
    color: var(--cinza-texto);
    font-weight: 400;
    text-align: center
}